.moviesList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    max-width: 1200px;
}

.movieCard h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.movieCard{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 220px;
    margin: 10px;
    border: 1px solid rgb(247,244,244);
    box-shadow: inset;
    border-radius: 5px;
    background-color: whitesmoke;
}


.movieCard button{
    width: 80px;
    height: 30px;
    border: none;
    margin-top: 60px;
    border-radius: 2px;
    background-color: #3f51b5;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
}


.movieList{
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    max-width: 1200px;
}

