.moviesList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    max-width: 1200px;
}
.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 280px;
    margin: 10px;
    border: 1px solid rgb(247,244,244);
    box-shadow: inset;
    border-radius: 5px;
    background-color: whitesmoke;
}
.movieCard:hover{
    background-color: #cac7c7;
}

.movieCard button{
    width: 50%;
    height: 30px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    background-color: lightslategray;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.movieCard button:hover{
    background-color: #e0e0e0;
}

.movieList{
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    max-width: 1200px;
}

