.review-container {
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;;
}

.review-card{
    width: 800px;
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(73, 72, 72);
    border-radius: 5px;
    padding: 10px;
}

.review-card button{
    display: inline-block;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #030720;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}



