/* *{
    background-image: url(../images/bgd.jpg);
    background-position: center
    ;
} */
.title, h3{
    font-size: 1.5rem;
    text-align: center;
    margin-top: .75rem;
}
.collections-container{
    display: flex;
    flex-direction: row;
}
.movieCard{
    padding: .625rem;
    margin: .3125rem;
}
.movieCard img{
    width: 300px;
    height: 280px;
}
.movieCard h5{
    margin-bottom: 4px;
    font-size: 1rem;
}
