#intro{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#show_item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 1200px; */
}

.shows{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 320px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(73, 72, 72);
    border-radius: 5px;
    padding: 20px;
}

.shows h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.shows strong{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

#likes{
    margin-top: 10px;
    width: 60px;
    height: 30px;
}
